* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	// display: flex;
	width: 70%;
	height: 80%;
	overflow: hidden;
	position: relative;
}

.item {
	width: 100%;
	background-color: red;
	height: 100%;
	position: absolute;
	left: 100%;
	transition: all .5s;
	display: flex;
	align-items: center;
	justify-content: center;
}


.show {
	left: 0;
}

.raise{
    z-index: 2;
}